R version 4.2.1 (2022-06-23 ucrt)

MLmetrics_1.1.1   
data.table_1.14.2 
caret_6.0-92      
lattice_0.20-45   
lubridate_1.8.0   
lightgbm_3.3.2   
R6_2.5.1          
dummies_1.5.6     
forcats_0.5.1     
stringr_1.4.0     
dplyr_1.0.9       
purrr_0.3.4      
readr_2.1.2       
tidyr_1.2.0       
tibble_3.1.7      
ggplot2_3.3.6     
tidyverse_1.3.1  
